<!--//  Created by Théo Lambert on 22/12/2018.
	//  Copyright © 2017 Théo Lambert. All rights reserved. -->
<base href="/">
<div align="center" id="main" class="contact">
<p style="color:red ;font-size: 30px;">404 bruh</p><br>
<a href="/">Back to home</a>
<script src="js/script.js"></script>
<style type="text/css">
#main{
transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  margin-top: 15em;
}
.pure-menu-link{
  margin: 2em;
}
</style>
<!--//  Created by Théo Lambert on 22/12/2018.
	//  Copyright © 2017 Théo Lambert. All rights reserved. -->
