<!--//  Created by Théo Lambert on 22/12/2018.
    //  Copyright © 2017 Théo Lambert. All rights reserved. -->
<base href="/">
<div align="center" id="main" style="margin-top: 2em;">
<a href="/"  style="color:#FFFFFF" class="pure-menu-link">home page</a>
</div>
<div class="loader" style="margin-top: 2em;"><img src="../img/rotate.png" alt="laoding" alt="loading"></div>
<div id='mainclip' align="center" style="opacity:0;">
<!--RIKHTER-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/HqewhcsjRDQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--SNTS remix PAULA open the other eye -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/nq9C3_64Jp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--Rikhter SAKHA-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/lL-QFJbh2WM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/364739356" width="560" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<!-- SNTS - Submission is not obedience -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/E4tuPRIRw74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- Dax J - Industrial Cyber Technologies -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/6a5lVCKUp5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- 999999999 - 000000005 -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/p6WO2MpmqiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--SNTS - Empathy Over Indifference-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/XSs5EMzyZd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--DIMI -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/GxTWWeDmViY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- 999999999 - 000000007 -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/UIwacIqPRyM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--TRYM - KENDALL -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/UMeAB228Wg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--ENDLEC - CONCRETE DESTROYER-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/9dp_EvcLT2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- keith -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/cv_kBL3zr5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--SNTS TORN RELICS-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/g-sGt70N0ts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- 999999999 - 000000006 -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/7lpuevIl5z8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- REMCO BEEKWILDER -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/frwABM0FwKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- SNTS JUDGED -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZwJBhWfwnMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<iframe width="560" height="315" src="https://www.youtube.com/embed/3H-VuLEm01g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SlXapvJiPyk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QKSd76tKNrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FONL.off%2Fvideos%2F654048268321861%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMekanikalBloodshed%2Fvideos%2F2042717119381759%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
<script>
    $(".loader").delay(2000).animate({ opacity: 0 });
    $("#mainclip").delay(3000).animate({ opacity: 1 });
    $('html, body').css({overflow: 'auto', height: 'auto'});
document.title = "TLB CLIP";
</script>
<!--//  Created by Théo Lambert on 22/12/2018.
    //  Copyright © 2017 Théo Lambert. All rights reserved. -->
