<!--//  Created by Théo Lambert on 22/12/2018.
	//  Copyright © 2017 Théo Lambert. All rights reserved. -->
<base href="/">
<div align="center" id="main" style="margin-top: 2em;">
<a href="/clip"  style="color:#FFFFFF" class="pure-menu-link">video clip</a>
<a href="/teaser"   style="color:#FFFFFF" class="pure-menu-link">video teaser</a>
<a href="/motion"   style="color:#FFFFFF" class="pure-menu-link">motion design</a>
<a href="https://drive.google.com/file/d/1UREwTs9G_VVQIxLUBVv6e1VEFmw7Eu5k/view?usp=sharing"  target="blank" style="color:#FFFFFF" class="pure-menu-link">showreel</a>
<a href="/contact"  style="color:#FFFFFF" class="pure-menu-link">contact</a>
</div>
<div align="center" style="color:#FFFFFF; margin-top: 3em;"><p>pinned publication</p>
<!--Dax J -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/6a5lVCKUp5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<script src="js/script.js"></script>
<script type="text/javascript">
    document.title = "TLB";

</script>
<style type="text/css">
#main{
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  margin-top: 15em;
}
.pure-menu-link{
  margin: 1em;
}
</style>
<!--//  Created by Théo Lambert on 22/12/2018.
	//  Copyright © 2017 Théo Lambert. All rights reserved. -->
